$c-gray: #f1f1f1;
$c-nav: #242a31;
$c-hr: #d3d7da;
$c-orange: #ff503f;
$c-font: #4b4b4b;
$c-white: #fff;
$c-after: #adadad;
$c-f8: #f8f8f8;
$c-search: #ccc;
$c-svg: #4d5052;
$c-online: #aacc4e;
$c-offline: #c5c5c5;
$c-ampm: #bdbdbd;
$c-notif: #909090;
